version: '3.8'
services:
  db:
    image: postgres
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: 'postgres_user'
      POSTGRES_PASSWORD: 'postgres_password'
      POSTGRES_DB: 'palestras_db'
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: